
.col_left, .col_right{
	display: flex;
	flex-direction: row;
	/*background: red;*/
}
.col_right{
	/*background: red;*/
}

/* Home Page  */
.content_logo{
	width: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.menu_header{
	/*background: green;*/
	flex: 1;
	width: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.menu_header .content_menu{
	width: 100%;
	height: auto;
	text-align: right;
	padding-right: 20px;
	display: flex;
	justify-content: right;
	/*background: blue;*/
}
.col_right .responsive{
	display: none;
}
.btn_menu_header{
	cursor: pointer;
	font-size: 30px;
}
.btn_menu_header.btn_close{
	position: absolute;
	right: 20px;
	top: 20px;

}
.content_menu .link_menu{
	text-decoration: none;
}
.link_menu .content_link{
	width: auto;
	height: auto;
	padding: 20px;
	/*background: grey;*/
	border-radius: 4px;
	transition: .5s;
	position: relative;

}
.content_link i{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.content_link:hover{
	background: #ccc;
}
.menu_header_triger{
	width: auto;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.menu_header_triger *{
	font-size: 20px;
	margin-left: 10px;
	cursor: pointer;
}
@media( max-width: 984px){
	.col_right .responsive{
		display: flex;
	}
	.menu_header{
		flex: none;
	}
	.menu_header .content_menu{
		display: none;
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: #fff;
		z-index: 99999;
		text-align: left;
		flex-direction: column;
		padding-left: 30px;
		padding-top: 30px;

	}
	.content_menu .content_link{
		display: block;
		width: 100%;
		height: auto;
		padding-left: 0;
		padding-right: 0;
		/*background: red;*/
	}

}


.container_section{
	padding-top: 80px;
	padding-bottom: 80px;
}

.section_thumbnail{
	width: 100%;
	height: 550px;
	position: relative;
}
.section_thumbnail img{
	width: 100%;
	height: 100%;
}
.section_thumbnail .container_content{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .4);
	padding-left: 30px;
}
.container_content *{
	color: #fff;
}
.container_content .logo_font{ 
	font-size: 70px;

}
.container_content .text{
	margin-top: 20px;
	line-height: 27px;
}
@media( max-width: 780px){
	.section_thumbnail .text{
		display: none;
	}
	.section_thumbnail .logo_font{
		font-size: 50px;
	}
	.section_thumbnail  .container_content{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: 0;
	}
}


.section_detail{
	background: #25282B;
	padding-left: 20px;
	padding-bottom: 80px;
}
.section_detail *{
	color: #fff;
}
.section_detail .col_thumb{
	width: 557px;
	height: auto;
	padding-right: 30px;
}

.col_thumb img{
	width: 100%;
	height: 417px;
	border-radius: 12px;
}

.font_title{
	font-size: 50px;
	margin-bottom: 22px;
	font-weight: bolder;
}
.font_text{
	font-size: 20px;
	margin-bottom: 10px;
}
.container_manfaat{
	margin-top: 50px;
}
.container_manfaat .row_title{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
.row_manfaat{
	text-align: center;
}
.row_manfaat img{
	width: 76px;
	height: 76px;
	margin-bottom: 10px;
}


.row_course{
	padding-left: 20px;
}

/* Course Page */

.row_search{
	margin-top: 10px;
	margin-bottom: 40px;
	height: auto;
	padding-left: 20px;
}
.row_search .col_search{
	width: 70%;
	position: relative;
}
.search_form{
	width: 100%;
	height: 70px;
	position: relative;
}
.col_search input{
	height: 70px;
	border-radius: 40px;
	padding-left: 30px;
}
.col_search .btn_search{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
	font-size: 20px;
	background: #fff;
	border-radius: 100px;
}



.row_search .col_btn{
	/*background: green;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
}	
.col_btn .content_btn{
	/*background: red;*/
}
.content_btn button{
	margin-right: 10px;
}


/* View Page */
.container_page_view{
	margin-top: 30px;
}
.judul_course{
	margin-top: 25px;
	margin-bottom: 25px;
}
.deskripsi_course{
	line-height: 24px;
}
.detail_course{
	display: flex;
	height: auto;
	/*background: red;*/
}
.detail_course button{
	margin-right: 20px;
}
.detail_mentor{
	background: #ccc;
	width: auto;
	height: auto;
	display: flex;
	padding: 10px;
	border-radius: 20px;
}
.detail_mentor img{
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.col_box{

}

@media(max-width: 768px){
	.row_info{
		flex-direction: column-reverse;
	}
}

